.ui.button.round {
    border-radius: var(--radius-lg);
}

.ui.button.size-xs {
    height: 58px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 18px;
}

.ui.button.size-sm {
    height: 66px;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 16px;
}

.ui.button.fill.blue_800 {
    background-color: var(--blue_800);
    color: var(--white_a700);
}

.ui.button {
    text-align: center;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: var(--white_a700);
    background-color: var(--blue_800);
}

/* Input CSS */
.ui.input.round {
    border-radius: var(--radius-xs);
}

.ui.input.size-xs {
    height: 58px;
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
    font-size: 18px;
}

.ui.input.fill.gray_100 {
    background-color: var(--gray_100);
    color: var(--gray_700);
}

.ui.input {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
    color: var(--gray_700);
    font-size: 18px;
    font-weight: 700;
    background-color: var(--gray_100);
    flex-grow: 1;
    border-radius: var(--radius-xs);
}